<% include functions %>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="bulma.css" />
    <link rel="stylesheet" type="text/css" href="bulma.css.map" />
    <link rel="stylesheet" type="text/css" href="word.css" />
  </head>

  <body>
  <div id="container">

  <div class="columns">
  </div>

  <div class="columns">

    <div class="column is-one-quarter">
    </div>

    <div class="column is-one-quarter">
      <form action="/word?input=" method="get">
          <input type="text" class="input is-small" name="input_get" placeholder="enter a word here or click below" />
          <button class="is-hidden" type="submit">search</button>
          <p class="subtitle is-1 has-text-left"><%= prevlookup %></p>
      </form>
    </div>


    <div class="column is-one-quarter">
      <form action="/word?input_get2=" method="get">
          <input type="text" class="input is-small is-hidden" name="input_get2" value=<%= prevlookup2 %>  />
          <button class="is-hidden" type="submit">search</button>
          <p class="title is-3 has-text-right"><%= prevlookup2 %></p>
      </form>
    </div>

    <div class="column is-one-quarter">
    </div>

  </div>

    <div class="columns is-multiline is-mobile has-text-centered">
      <% for(var i=0; i<results.words.length; i++) {%>
         <div class="column is-2">
           <!-- <a class="button is-medium" style="background-color:<%= "#"+((1<<24)*Math.random()|0).toString(16) %>" href="/word?input_get=<%= results.words[i] %>"> -->
           <a class="button is-medium" style="background-color:<%= randColor2() %>" href="/word?input_get=<%= results.words[i] %>">
                <%= results.words[i] %>
           </a>
         </div>
      <% } %>
    </div>

  </div>
  </body>

</html>
