<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="bulma.css" />
    <link rel="stylesheet" type="text/css" href="bulma.css.map" />
  </head>

  <body>
  <div id="container">

  <div class="columns">
  </div>

  <div class="columns">

    <div class="column is-one-quarter">
    </div>

    <div class="column is-one-quarter">
      <form action="/word?input=" method="get">
          <input type="text" class="input is-small" name="input_get" placeholder="what word?" />
          <button class="is-hidden" type="submit">search</button>
          <p><%= prevlookup %></p>
      </form>
    </div>


    <div class="column is-one-quarter">
      <form action="/word?input_get=" method="get">
          <input type="text" class="input is-small" name="input_get" placeholder="what word?" />
          <button class="is-hidden" type="submit">search</button>
          <p><%= prevlookup %></p>
      </form>
    </div>

    <div class="column is-one-quarter">
    </div>

  </div>

    <div class="columns is-multiline is-mobile has-text-centered">
      <% for(var i=0; i<results.words.length; i++) {%>
         <div class="column is-2">
           <a class="button is-medium is-primary" href="/word?input_get=<%= results.words[i] %>">
                <%= results.words[i] %>
           </a>
         </div>
      <% } %>
    </div>

  </div>
  </body>

</html>
